body {
  background: rgb(93, 89, 135);
  background: linear-gradient(
    45deg,
    rgba(93, 89, 135, 1) 40%,
    rgba(64, 51, 191, 1) 86%
  );
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
  background-color: #864879;
  color: #fff;
  border: none;
  margin-bottom: 2px;
  border-radius: 20px;
}

input:focus{
  outline: none;
}

div > h1 {
  float: right;
  margin: 0;
  color: #e9a6a6;
}

h2 {
  padding: 10px 10px 15px 10px;
}

#clear {
  float: left;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15rem;
  margin-bottom: 1rem;
}

.action {
  margin-left: 50px;
}

.action label {
  color: #e9a6a6;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#header {
  margin: 3% 7% 1% 7%;
}

section {
  display: flex;
}

#work,
#cardTitle {
  width: 85%;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #e9a6a6;
  height: 3px;
  margin-bottom: 1em;
}

#add {
  margin: 0 10% 0 10%;
}

#edit {
  margin: 0 10% 0 10%;
}

#add > button,
#edit > button {
  cursor: pointer;
  font-size: 15px;
  width: 10%;
}

#card1Selected,
#card2Selected,
#card3Selected {
  float: right;
  margin: 5%;
  cursor: pointer;
}

section {
  margin: 0 10% 0 10%;
}

.card1,
.card2,
.card3 {
  margin: 2% 10px 0 10px;
  width: 30%;
  height: 350px;
  background: white;
}

ul {
  margin-left: 20px;
}

#selected {
  background: #e5d4cd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
